<nav class="navbar navbar-expand-lg navbar-dark" style="background:linear-gradient(135deg,#1a365d 0%,#2d5a87 100%);">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/ukbol-logo-white.svg" alt="UKBOL" height="40" class="me-2">
      <span>UK Barcode of Life</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/projects/">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/publications/">Publications</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{{ site.baseurl }}/species/">Data Portal</a></li>
      </ul>
    </div>
  </div>
</nav>
