<nav class="navbar navbar-expand-lg navbar-light bg-white" style="border-bottom:2px solid #e8f4f8;box-shadow:0 1px 4px rgba(0,0,0,.07);">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/ukbol-text-logo-clear.png" alt="UK Barcode of Life" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/" style="color:#1a4d5a;">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about/" style="color:#1a4d5a;">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/projects/" style="color:#1a4d5a;">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/publications/" style="color:#1a4d5a;">Publications</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{{ site.baseurl }}/species/" style="color:#2b7a8c;">Data Portal</a></li>
      </ul>
    </div>
  </div>
</nav>
